
<style media="screen">
.barasus{position:fixed; top:0px;left:0px;right:0px; height:50px; background-color:yellow;}
.coloane{ width:100%; height:100%;background-color:aquamarine;display: inline-block}
.stanga{}

</style>
<div class='barasus'>aici avem ceva</div>
<div style="width: 100%;margin-top:30px">
        <div style="width: 220px; ; position:fixed; background: green; margin-top: 50px; overflow: auto">
        1.  meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>
          meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>
          meniu in stanga<br>meniu in stanga<br>meniu in stanga<br><br>meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>
            meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>
            meniu in stanga<br>meniu in stanga<br>meniu in stanga<br>
        </div>
        <div style="margin-left: 230px; margin-top: 50px;; background: aquamarine;">
          <h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br>
          <h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br>
          <h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br>
          <h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br>
          <h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br>
          <h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br><h1>ia sa vedem daca merge</h1><br>
        </div>
    </div>
