<div class="side" style="padding-left:0px;">
  <ul id="sidebarnav"><br>
                      <h6><font color="#808080" >AGENTS</font></h6>
                      <li>
                          <a href="index.html"><i class="fas fa-circle fa-fw" ></i><b>All</b></a>
                      </li>
                        <li class="ele">
                            <a href="index.html"><i class="fas fa-dna fa-fw" ></i>Biology</a>
                        </li>
                        <li class="ele">
                            <a href="pages-profile.html"><i class="fas fa-cube fa-fw" ></i>3d Modeling</a>
                        </li>
                        <li class="ele">
                            <a href="table-basic.html"><i class="fa fa-language fa-fw" ></i>Language</a>
                        </li>
                        <li class="ele">
                            <a href="icon-fontawesome.html" ><i class="fas fa-ruler-combined fa-fw" ></i>Data science</a>
                        </li>
                        <li class="ele">
                            <a href="map-google.html" class="waves-effect"><i class="fas fa-film fa-fw" ></i>Media production</a>
                        </li>
                        <li class="ele">
                            <a href="pages-blank.html" class="waves-effect"><i class="fas fa-hands-helping fa-fw" ></i>Assistants</a>
                        </li><br>
                        <h6><font color="#808080" >MICROSERVICES</font></h6>
                          <li>
                              <a href="index.html"><i class="fas fa-eye fa-fw" ></i>Sight</a>
                          </li>
                          <li class="ele">
                              <a href="pages-profile.html"><i class="fas fa-assistive-listening-systems fa-fw" ></i>Listening</a>
                          </li>
                          <li class="ele">
                              <a href="table-basic.html"><i class="fa fa-hand-holding-heart fa-fw" ></i>Empathy</a>
                          </li>
                          <li class="ele">
                              <a href="icon-fontawesome.html" ><i class="far fa-lightbulb fa-fw" ></i>Intuition</a>
                          </li>
                          <li class="ele">
                              <a href="icon-fontawesome.html" ><i class="far fa-object-group fa-fw" ></i>Assimilation</a>
                          </li>
                    </ul>
                    <hr>
                      <h6 style="padding-left:16px;"><font color="#808080" >EXPERIENCE</font></h6>
                    <form style="padding-left: 30px">
                      <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="defaultGroupExample0" name="groupOfDefaultRadios" checked>
                      <label class="custom-control-label" for="defaultGroupExample0">Any</label>
                    </div>
  <div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
  <label class="custom-control-label" for="defaultGroupExample1">Mature</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" >
  <label class="custom-control-label" for="defaultGroupExample2">Training</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
  <label class="custom-control-label" for="defaultGroupExample3">New</label>
</div>
</div>
